html, body {
  background-color: khaki;
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: start;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.content {
  text-align: center;
}

.title {
  font-size: 42px;
  margin-top: 50px;
  text-shadow: 2px 2px 2px darkcyan;
  color: #FFF;
}

.m-b-md {
  margin-bottom: 30px;
}

form.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: darkcyan;
}

form h3 {
  border-bottom: 3px solid;
}

.form input {
  width: 30%;
  height: 25px;
  margin: 10px 20px;
  outline: none;
}

.form button {
  padding: 10px 50px;
  margin: 10px 20px;
  background-color: darkcyan;
  color: #FFF;
  border: 2px solid #FFF;
  font-size: 16px;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
  outline: none;
}

.form button:hover {
  cursor: pointer;
  background-color: #FFF;
  color: darkcyan;
  border: 2px solid darkcyan;
}

.form label {
  font-size: 18px;
  font-weight: 700;
}

.form .input-error {
  color: indianred;
  font-weight: 700;
  padding: 10px;
}